pycocotools
tensorboard
tqdm
matplotlib 
h5py 
nltk
einops
hydra-core==1.1.0
spacy
timm
lmdb
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability